.inpute{
    padding: 5px 10px;
    
    border-radius: 5px;
    margin-bottom: 10px;
    
    box-sizing: border-box;
    border: 2px solid grey;
    text-transform: capitalize;
    outline: none;
    border-radius: 6px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

  