.buttone{
    padding: 5px 12px ;
    border: none;
     color: white;
     border-radius: 4px;
     text-align: center;
     cursor: pointer;
     margin: 0px 2px 0px 2px;
     text-transform: capitalize;
}
.buttone:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.3);
}